.error-container {
  border: 1px solid #f44336 !important;
}

.input-container {
  height: 54px;
  position: relative;
  border: 1px solid #a0afbf;
  padding: 0 17px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  input {
    padding: none !important;
  }
  .right-icon {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    img {
      height: 20px;
    }
    &:hover {
      opacity: 0.5;
    }
    .password {
      height: 10px !important;
    }
  }
  .left-icon {
    position: absolute;
    left: 10px;
    top: 23px;
    right: 10px;
    cursor: pointer;
    img {
      height: 20px;
    }
    &:hover {
      opacity: 0.5;
    }
    .field {
      height: 10px !important;
    }
  }
  .left-field {
    position: absolute;
    left: 10px;
    // top: 0px;
    right: 10px;
    cursor: pointer;
    .field-select {
      font-family: Filson Pro;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      padding-top: 11px;
      line-height: 17px;
      color: #c8c8c8;
    }
  }
}
