.posts {
    margin: 0;
}

.postWrapper {
    background-color: #fff;
    border-radius: 8px;
}

.postContent {
    padding: 50px;
    height: 613px;
    top: 146px;
}

.empty-box {
    background-color: #fff;
    width: 564px;
    height: 613px;
    position: absolute;
    left: 240px;
    top: 146px;
}
  
.section5 {
    display: flex;
    align-content: center;
    margin-top: 10px;
}

.name-Active {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.adedolapo {
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
}

.p {
    color: #808080;
    font-size: 10px;
    line-height: 14px;
}

.h {
    color: #7A7A7A;
    font-size: 12px;
    line-height: 14px;
}

.strong {
color: #A0AFBF;
font-size: 14px;
font-weight: bold;
margin-top: 2%;
margin-left: 11%;
}

.sgs {
color: #252117;
font-size: 12.8px;
margin-left: 11%;
font-family: Filson Pro;
}

.section7 img {
margin-top: 2%;
width: 114px;
height: 113px;
left: 64px;
position: relative;
}

.nav4 {
    display: flex;
    margin: 9px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    width: 530px;
    height: 146px;
}

.circle2 {
    display: flex;
    margin-left: 40%;
}

.c {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #C8C8C8;
    padding-top: 5px;
}

.circle2 img {
margin-bottom: 85%;
}

// .section9 img {
//     width: 30px;
//     border-radius: 50px;
// }

.postTop {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.postTopLeft {
    display: flex;
}

.name {
    padding-top: 10px;
}

.berger {
    margin-left: 16px;
    font-size: 12px;
}

.hour {
    font-size: 11px;
}

.circle2 img {
    margin-top: 2px;
    height: 15px;
}

.prog {
    margin-left: 6%;
    color: #A0AFBF;
}

.trans {
    color: #252117;
    font-size: 13px;
}

.view {
    color: #E4AA24;
    font-weight: 500;
    font-size: 14px;
}





// .imageContainer {
//     background: #FFFFFF;
//     border-radius: 8px;
//     border: 1px;
// }



// .postTopRight {
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     padding-top: 15px;
// }

// .postTopRight img {
//     height: 15px;
// }

// .postUsername {
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 17px;
// }

// .postActiveTime {
//     font-style: normal;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 16px;
//     color: #7A7A7A;
// }

.c {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #C8C8C8;
    padding-top: 5px;
}


// //Bottom

// .postBottom {
//     display: flex;
//     justify-content: space-between;
//     font-weight: 500;
//     font-size: 10px;
//     line-height: 14px;
//     padding: 10px;
// }

// .feeling {
//     font-size: 10px;
//     color: #808080;
// }




