.posts {
    margin: 0;
}

.postWrapper {
    background-color: #fff;
    border-radius: 8px;
    width: 664px;  
    margin-bottom: 40px;
}

.postContent {
    padding: 5px 20px;
    height: 100%;
    top: 146px;
}

.empty-box {
    background-color: #fff;
    width: 564px;
    height: 613px;
    position: absolute;
    left: 240px;
    top: 146px;
}
  
.section5 {
    display: flex;
    align-content: center;
    margin-top: 10px;
}

.postProfileImage {
    border-radius: 50% !important;
    margin-right: 10px;
    position: relative;
}

.postProfileImage::after {
    content: " ";
    position: absolute;
    bottom: -.7rem;
    width: 1px;
    height: 234px;
    left: 34px;
    top: 64px;
    background: #DCDCDC;
}

.name-Active {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.adedolapo {
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
}

.p {
    color: #808080;
    font-size: 10px;
    line-height: 14px;
}

.h {
    color: #7A7A7A;
    font-size: 12px;
    line-height: 14px;
}

.strong {
color: #A0AFBF;
font-size: 14px;
font-weight: bold;
margin-top: 2%;
margin-left: 11%;
}

.sgs {
    color: #252117;
    font-size: 12.8px;
    margin-left: 11%;
    font-family: Filson Pro;
}

.section7 {
    display: flex;
}

.section7 img {
    margin-top: 2%;
    width: 114px;
    height: 113px;
    left: 64px;
    position: relative;
}

.nav4 {
    display: flex;
    margin: 9px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    width: 540px;
    height: 156px;
}

.circle2 {
    display: flex;
    padding-top: 10px;
}

.c {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #C8C8C8;
    padding-top: 5px;
}

.postTop {
    display: flex;
    flex-direction: column;   
}

.within {
    padding: 5px;
    width: 100%;
}

.postTop2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.postTop2.For9 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.postTopLeft {
    display: flex;
}

.name {
    padding-top: 10px;
    height: 100%;
}

.berger {
    font-size: 12px;
}

.hour {
    font-size: 11px;
    color: #7A7A7A;
}

.c {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #C8C8C8;
    padding-top: 8px;
}

.circle2 img {
    margin-top: 2px;
    height: 15px;
}

.prog {
    color: #A0AFBF;
}

.tran.s {
    display: flex;
    justify-content: space-between;
}

.view {
    color: #E4AA24;
    font-weight: 500;
    font-size: 14px;
}


//Bottom

.postBottom {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    padding-top: 20px;
}

.feeling {
    font-size: 10px;
    color: #808080;
}

.lag {
    color: #adadad;
    font-size: 7.2px;
    font-weight: 500;
    padding-left: 3px;
}

.stat {
    font-weight: 500;
    font-size: 4px;
    color: #252117;
    background: #F2F0E0;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5), 5px 5px 25px rgba(255, 255, 255, 0.5);
}

.on {
    font-weight: 500;
    font-size: 7.2px;
    line-height: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #02903c;
}

.setSpan {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #A0AFBF;
}

.button {
    width: 101px;
    height: 33px;
    background: #E2E8F0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #757575;
    margin-top: 13px;
}

.set h3 {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.suspect,
.excited,
.more {
    display: flex !important;
    justify-content: space-between;
    align-content: center !important;
}