.default-btn {
  width: 100%;
  height: 54px;
  background: #e4aa24;
  box-shadow: 0px 9px 45px rgba(61, 132, 172, 0.2);
  border-radius: 64px;
  border: none;
  outline: none !important;
  font-style: normal;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
}

.button-disabled {
  background: #ccd5df !important;
  color: #718195 !important;
}

.btn-outline {
  border: 1.3px solid #e2e8f0;
  color: #252117;
}

.btn-size-sm {
  width: 79px;
  height: 36px;
}

.btn-size-sm-h {
  width: 100%;
  height: 36px;
}

.btn-size-md {
  width: 112px;
  height: 36px;
}

.btn-no-shadow {
  box-shadow: none !important;
}

.btn-no-bg {
  background: transparent !important;
  box-shadow: none !important;
}

.btn-disabled {
  background-color: #ccd5df;
  color: #718195;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
