.ph {
  padding: 0 30px !important;
}

.nav-content {
  box-sizing: border-box;
  overflow: hidden;
  table {
    thead {
      height: 50px;
      td {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
      }
    }
    tbody {
      tr {
        height: 60px;
        cursor: pointer;
        td {
          p {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            color: #000000;
          }
          span {
            width: 83px;
            height: 25px;
            background: #f8f6e6;
            //   border: 0.5px solid #E4AA24;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: normal;
            font-size: 12.8px;
            line-height: 15px;
            text-align: center;
            color: #e4aa24;
          }
          .a-s-btn {
            background: #a0afbf;
            border-radius: 57px;
            color: #fff;
          }
        }
      }
      .row-active {
        background: #fefdf8;
      }
    }
  }
}
