.horizontal-line {
  width: 100%;
  margin-top: 33px;
  margin-bottom: 44px;
  background: #dcdcdc;
}

.horizontal-line2 {
  width: 100%;
  margin-bottom: 25px;
  background: #dcdcdc;
}

.lang {
  width: 100%;
  padding: 0 33px;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #a0afbf;
    margin-right: 23px;
    cursor: pointer;
  }
  .lang-active {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #252117;
    margin-right: 23px;
  }
}

.footer {
  width: 100%;
  padding: 0 21px;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #7a7a7a;
  }
}

.dash-contents {
  width: 100%;
  height: 100vh;
  .sidebar {
    width: 22%;
    background: #ffffff;
    height: 100%;
    padding: 32px 25px;
    box-sizing: border-box;
    .logo {
      margin-bottom: 40px;
    }
    .user-details {
      .pp {
        margin-right: 10px;
        width: 30px;
        border-radius: 50px;
      }
      .info {
        .full-name {
          font-weight: bold;
          font-size: 14px;
          line-height: 14px;
          color: #252117;
        }
        .username {
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #7a7a7a;
        }
      }
    }
    .navs {
      .nav {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        img {
          width: 14px;
          height: 14px;
          margin-right: 12px;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #989898;
        }
      }
      .nav-active {
        margin-left: 10px;
        img {
          filter: invert(55%) sepia(74%) saturate(481%) hue-rotate(4deg) brightness(110%) contrast(86%);
        }
        p {
          font-weight: bolder;
          color: #252117;
        }
      }
    }
  }

  .sidebar2 {
    width: 22%;
    height: 100%;
    padding: 33px 25px;
    box-sizing: border-box;
    background: #ffffff;
    .search-input {
      width: 100%;
      height: 38px;
      margin-bottom: 33px;
      .s-input {
        width: 100%;
        height: 100%;
        background: #edf2f7;
        border-radius: 20px;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 13px;
        color: #989898;
        padding: 0 35px;
        text-align: left;
        ::placeholder {
          margin: 0 !important;
        }
      }
      img {
        top: 14px;
      }
    }
    .pp {
      width: 160px;
      height: 169px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
    .profile-info {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .full-name {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #252117;
        margin-top: 30px;
        margin-bottom: 7px;
      }
      .username {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #989898;
        margin-bottom: 28px;
      }
    }
    .insights {
      margin-bottom: 23px;
      .insight {
        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 14px;
          text-transform: uppercase;
          color: #a0afbf;
          margin-bottom: 6px;
        }
        .value {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #252117;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
    .bio {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #5e5e5e;
      margin-bottom: 23px;
    }
    .follow-title {
      font-style: normal;
      font-weight: bolder;
      font-size: 16px;
      line-height: 19px;
      color: #252117;
      margin-bottom: 36px;
    }
    .follow {
      margin-bottom: 37px;
      .pp {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
      .info {
        margin-right: 10px;
        .full-name {
          font-style: normal;
          font-weight: 500;
          font-size: 12.8px;
          line-height: 17px;
          color: #252117;
        }
        .username {
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 14px;
          color: #adadad;
        }
      }
      .follow-button-u {
        width: 101px;
        height: 33px;
        background: #fcf6e8;
        border: 1px solid #e4aa24;
        box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5), 5px 5px 25px rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #e4aa24;
        outline: none;
      }
    }
  }

  .mainContents {
    width: 56%;
    height: 100%;
    overflow-y: scroll;
    background: #f5f4f0;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
  }
}

// code to optimize mobile responsiveness
@media screen and (max-width: 488px) {

  .sidebar {
    display: none !important;
    width: 100% !important;
    //height: 50% !important;
    position: relative !important;
    margin: 25px 0px !important;

    .lang {
      margin: 25px 0px !important;
      position: relative !important;
    }
  }

  .mainContents {
    display: inline !important;
    width: 100% !important;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden !important;
    background: #f5f4f0;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;

    .navigation {
      //padding: 0px 10px !important;
      margin: 0px !important;
      //display: flex !important;
      overflow-x: scroll !important;
      justify-content: space-between !important;
      box-sizing: border-box !important;
      //align-items: center !important;

     .nav {
       width: 100% !important;
       height: 30px !important;
       background-color: #ffffff;
       //border-bottom: 0.5px solid #a0afbf;
       margin-bottom: 5px !important;
       margin-right: 50px !important;
     }

     .nav-active {
      margin-left: 0px !important;
      }
    }
      .content {
        width: 100vw !important;
        margin-top: 5px !important;

        .profile-eyemarked {
          width: 100%;
          padding: 0 15px;
          box-sizing: border-box;

          img.mr-5 {
            margin-right: 0.1rem !important;
          }

          .eyemarked {

            #input_container{

              #input {  
                padding-left: 50px !important;
                height: 50px !important;
                margin-top: 10px !important;
              }
            }
          }
          .input_contain {
            display: none !important;
          }

          .mt-5 {

            .my-10 {

              .w-full {

                img.mr-5 {
                  margin-right: 0.1rem !important;
                  padding-right: 8px !important;
                  
                }
              }

              .follow-button-f {
                width: 90px !important;
                height: 30px !important;
                font-size: 12px !important;
              }

              .follow-button-e {
                width: 90px !important;
                height: 30px !important;
                font-size: 12px !important;
              }
            }
          }
       }
      
        .profile-media {
          width: 100vw !important;
          padding: 0 10px !important;
          box-sizing: border-box;
          //margin-right: 500px;
      
          .gallery {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 12vw) !important;
            grid-gap: 5px !important;
            margin: auto;
          }
       } 

        .postWrapper {
          width: 100% !important;

          .postContent {
            padding: 0px 10px !important;

            .section5 {
              
              img.postProfileImage {
                margin: 2px 10px 0px 0px !important;
              }
            }


            .section7 {
              overflow-x: scroll !important;
              position: relative !important;
              margin-bottom: 10px !important;
              padding-bottom: 12px !important;

              img.postImage{
                height: 70px !important;
                margin-right: 5px !important;
              }
            }
            
            .nav4 {
              display: flex;
              margin: 25px 9px 9px 9px !important;
              border: 1px solid #dcdcdc;
              border-radius: 10px;
              width: 98%;
              height: 230px !important;

              .within {
                padding: 5px !important;
                height: 100vw !important;

                .postTop {
                  display: inline !important;

                  .postTop2 {
                    //display: inline !important;
                    padding: 0px 0px 10px !important;
                    margin-right: 0px !important;

                    .circle2 {
                      display: flex !important;
                      //width: 20% !important;
                      //margin-left: 40vw;
                      padding: 5px !important;
                      align-content: center !important;
                    }

                    p.hour {
                      //display: flex !important;
                      flex-direction: row !important;
                      font-size: xx-small;

                      .stat, .on, .lag{
                        font-size: 10px !important;
                        height: 10px !important;
                      }

                      .on {
                        font-size: 8px !important;
                      }

                      .stat {
                        width: 50px !important;
                        padding: 0px 3px !important;
                        margin-bottom: 5px !important;
                      }

                      .postTopLeft {

                        .name {
                          margin: flex !important;
                          position: relative !important;
                          display: flex !important;
                        }
                      }
                    }
                  }

                  .section10 {
                    display: inline !important;
                    width: 100vw !important;
                    height: 200px !important;
                    

                    .prog {
                        color: #a0afbf;
                        padding-left: 2px !important;
                        font-weight: bold;
                        font-size: 14px;
                        font-style: normal;
                        line-height: 20px !important;
                        //margin-top: 20px !important;
                        margin-bottom: 2px !important;
                    }

                   

                    .set {

                      h3 {
                        font-size: 10px;
                        /* line-height: 17px; */
                        color: #000000;
                    }

                      .setSpan {
                        font-size: 9px !important;
                        text-transform: uppercase !important;
                        color: #a0afbf !important;
                        display: flex !important;
                      }
                    }
                    p.tran, p.s{
                      border-right: 10px !important;
                    }

                    p.tran {
                      display: grid !important;
                      padding: 1px;
                      grid: 40px / auto auto;
                      //height: 20px !important;
                      //width: 100vw !important;

                      .button {
                        //display: grid !important;
                        //position: relative !important;
                        width: 60px !important;
                        height: 20px !important;
                        background: #e2e8f0;
                        border-radius: 4px;
                        font-size: 9px;
                        letter-spacing: 0.05em;
                        color: #757575;
                    }
                    }
                   // display: flex !important;
                  }
                }


                .section6 {

                  .hr, .two{
                    content: " ";
                    position: absolute;
                    bottom: -0.7rem;
                    width: 1px;
                    height: 150px;
                    left: 15px;
                    top: 1px;
                    background: #dcdcdc;
                  }

                  p.sgs {
                    display: flex !important;
                    justify-content: space-between !important;
                    margin: 0px 0px 0px 20px !important;
                    height: 150px !important;
                    overflow-x: scroll !important;
                  }
                }

                //.section10 {
                  
               // }
              }
            }

            .postBottom {
              margin-top: 0 !important;
            }

            .hr, .postProfileImage::after {
                content: " ";
                position: absolute;
                bottom: -0.7rem;
                width: 1px;
                height: 150px;
                left: 15px;
                top: 1px;
                background: #dcdcdc;
              }
          }
        }  

      }
    

    /**.profile-container {
      //width: 90vw !important;
      //height: 90vh !important;
     
      //overflow-x: hidden !important;

      .navigation {
        //margin-left: 0px !important;
      }

      .content {
        //margin-right: 10px !important;
      }
      
      .nav {
        //padding-right: 8px !important;
        //text-align: justify !important;
        //font-size: 15px !important;
      }

      .postWrapper {
        //height: 70% !important;
      }
    }**/

    
    // display: inline !important;
    // width: 100% !important;
    // //height: 100% !important;
    // margin: 25px 0px !important;
    // position: absolute !important;

    // .navigation {
    //   min-height: 50px !important;
    //   width: 100% !important;
    //   padding: 10px !important;
    //   display: flex !important;
    //   align-items: center;
    //   justify-content: center;
    //   overflow-x: hidden !important;
      
    

    //   .nav { 
    //     width: 30% !important;
    //     height: 50% !important;
    //     // display: grid !important;
    //     position: relative !important;
    //     // float: left !important;      
    //     padding: 8px !important;
    //   }

      

    // }

    // .section5 img {
    //   height: 30px !important;
    // }

    // .section5 {
    //   align-items: center !important;

    //   .name-Active {
    //     display: flex !important;
    //   }

    //   .adedolapo {
    //     padding: 0px 10px !important;
    //     display: flex !important;
    //     flex-direction: column !important;

    //     span {
    //       margin-left: 5px !important;
    //       margin-top: 10px !important;
    //       margin-bottom: 6px !important;
    //     }

    //     p {
    //       margin-left: 5px !important;
    //       font-size: 40px !important;
    //     }
    //   }
    // }

    // .section6 {
    //   display:flex !important;
    //   flex-direction: column !important;
    //   overflow: hidden !important;
    //   margin-left: 0px !important;

    //   .strong {
    //     display: flex !important;
    //     //position: relative !important;
    //     text-align: justify !important;
    //     width: 100% !important;
    //     margin: 10px 0px !important
    //   }

    //   .sgs {
    //     display: flex !important;
    //     align-items: fill !important;
    //     position: relative !important;
    //   }
    // }

    // .section7 img.postImage{
    //   height: 50px !important;
    // }

    // .section7 {
    //   display: flex !important;
    //   align-items: fill !important;
    //   position: relative !important;
    // }


  }

  .sidebar2 {
    display: none!important;
    width: 100% !important;
    height: 100% !important;
    margin: 25px 0px !important;

    .bio {
      text-align: justify !important;
      padding-bottom: 0% !important;
      margin-bottom: 10px !important;
      font-style: normal !important; 
      font-weight: normal !important;
      
    }

    .footer {
      width: 100% !important;
      position: relative !important;
    }

  }

}