.a-survey-cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

.a-survey-cont {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}
  
.a-survey-cont {
  input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  height: 14px !important;
  width: 14px !important;
  background-color: transparent !important;
  border-radius: 50%;
  border: 1px solid gray !important;
  }
}

.a-survey-cont input:checked ~ .a-survey-radio {
  background-color: #fff;
}

.a-survey-cont .a-survey-radio:after {
  top: 0;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(206, 63, 63);
}

.emoji:hover {
  background-color: #fff;
  cursor: pointer;
}

.add-file {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 154.6%;
  color: #252117;
}

.view-file {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 154.6%;
  color: #E4AA24;
}