.home-posts {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;

  .postWrapper {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 40px;
    align-content: center;
  }

  .postContent {
    padding: 5px 20px;
    height: 100%;
    top: 146px;
  }

  .empty-box {
    background-color: #fff;
    width: 564px;
    height: 613px;
    position: absolute;
    left: 240px;
    top: 146px;
  }

  .section5 {
    display: flex;
    align-content: center;
    margin-top: 10px;
  }

  .postProfileImage {
    border-radius: 50% !important;
    margin-right: 26px;
    position: relative;
  }

  .postImage {
    margin-right: 10px;
  }

  .section6 {
    position: relative;
  }

  .hr,
  .postProfileImage::after {
    content: " ";
    position: absolute;
    bottom: -0.7rem;
    width: 1px;
    height: 200px;
    left: 20px;
    top: 1px;
    background: #dcdcdc;
  }

  .hr.two {
    height: 370px;
  }

  .name-Active {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .adedolapo {
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
  }

  .p {
    color: #808080;
    font-size: 10px;
    line-height: 14px;
  }

  .h {
    color: #7a7a7a;
    font-size: 12px;
    line-height: 14px;
  }

  .strong {
    color: #a0afbf;
    font-size: 14px;
    font-weight: bold;
    margin: 2% 0 1% 0;
    margin-left: 9%;
  }
  
  .sgs {
    color: #252117;
    margin-left: 9%;
    font-family: "Filson Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 12.8px;
    line-height: 148.8%;
    color: #252117;
    width: 90%;
    word-break: break-all;
  }

  .section7 {
    width: 98%;
    display: flex;
    overflow-x: scroll;
  }

  .section7 img {
    margin-top: 2%;
    width: 114px;
    height: 113px;
    left: 64px;
    position: relative;
  }

  .section7 .bigImg {
    margin-top: 2%;
    width: 263px;
    height: 263px;
    left: 70px;
    border-radius: 10px;
    position: relative;
    margin-right: 20px;
  }

  .nav4 {
    display: flex;
    margin: 25px 9px 9px 9px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    width: 98%;
    height: 176px;
  }

  .reply {
    font-style: normal;
    font-weight: 500;
    font-size: 12.8px;
    line-height: 148.8%;
    color: #252117;
    width: 98%;
    word-break: break-all;
    padding-left: 14px;
    padding-top: 5px;
  }

  .circle2 {
    display: flex;
    padding-top: 10px;
  }

  .c {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #c8c8c8;
    padding-top: 5px;
  }

  .c.two {
    padding-top: 2px !important;
  }

  .postTop {
    display: flex;
    flex-direction: column;
  }

  .within {
    padding: 6px;
    width: 100%;
  }

  .postTop2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding-bottom: 10px;
  }

  .postTop2.For9 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .postTopLeft {
    display: flex;
  }

  .name {
    padding-top: 10px;
    height: 100%;
  }

  .berger {
    font-size: 12px;
  }

  .hour {
    font-size: 11px;
    color: #7a7a7a;
  }

  .c {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #c8c8c8;
    padding-top: 8px;
  }

  .circle2 img {
    margin-top: 2px;
    height: 15px;
  }

  .prog {
    color: #a0afbf;
    padding-left: 4px;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    line-height: 14px;
    padding-left: 13px;
    padding-top: 10px;
  }

  .tran.s {
    display: flex;
    justify-content: space-between;
    margin: 5px 2%;
  }

  .view {
    color: #e4aa24;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
  }

  //Bottom

  .postBottom {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .feeling {
    font-size: 10px;
    color: #808080;
  }

  .lag {
    color: #adadad;
    font-size: 7.2px;
    font-weight: 500;
    padding-left: 3px;
  }

  .stat {
    font-weight: 500;
    font-size: 4px;
    color: #252117;
    background: #f2f0e0;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5), 5px 5px 25px rgba(255, 255, 255, 0.5);
  }

  .on {
    font-weight: 500;
    font-size: 7.2px;
    line-height: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #02903c;
  }

  .setSpan {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #a0afbf;
  }

  .button {
    width: 101px;
    height: 33px;
    background: #e2e8f0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #757575;
    margin-top: 13px;
  }

  .set h3 {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .suspect,
  .excited,
  .more {
    display: flex !important;
    justify-content: space-between;
    align-content: center !important;
    text-align: center;
  }

  .expImage {
    object-fit: contain;
    width: 19px;
    height: 17px;
    margin-left: -10px;
    top: -4px;
    border-radius: 50%;
  }

  .expImageContainer {
    display: flex;
    margin-left: 10px;
    padding-left: 5px !important;
  }

  .rateUnit {
    font-size: 12px;
    line-height: 14px;
    color: #989898;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 750px) {
  .section7 .bigImg {
    left: 30px;
  }
  .button {
    margin-top: 0 !important;
  }
  .home-posts {
    padding: 30px 4px !important;
  }
}