.home-container .navigation {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 23px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.home-container .content {
  padding: 0 7%;
}

.mobile-navigation {
  height: 64px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  position: relative;
  z-index: 9999999999999999999;
  padding: 0 20px;
  display: none;
}

@media screen and (max-width: 1024px) {
  .home-container .content {
    padding: 0 2% !important;
  }
  .navigation {
    display: none !important;
    position: relative;
  }
  .mobile-navigation {
    display: flex;
    position: relative;
  }
  .home-posts {
    padding: 30px 4px !important;
  }
}

@media screen and (max-width: 788px) {
  .home-container .content {
    padding: 0 2% !important;
  }
  .navigation {
    display: none !important;
  }
  .mobile-navigation {
    display: flex;
  }
  .home-posts {
    padding: 30px 4px !important;
  }
}
