.projects-container {
  .navigation1 {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    padding: 0 30px;
    .nav-text {
      font-weight: 500;
      font-size: 16px;
      font-style: normal;
    }
  }
  .content {
    width: 100%;
    padding: 2%;
  }
}

.invite {
  width: 45%;
  height: 54%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #989898;
  border-radius: 4px;
  cursor: pointer;
}

.invite-s {
  width: 45%;
  height: 54%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  border: 1px solid #EDF2F7;
  border-radius: 4px;
  cursor: pointer;
}

.invite-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.invite-text-s {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
}

.project-sec-header {
  align-items: center;
}

.circular-progress {
  background: #FFFFFF;
  border-radius: 46px;
  width: 60px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress-track {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #252117;
}

.project-sec-title {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #252117;

}

.project-sec {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #C8C8C8;

}

.info-cont {
  width: 100%;
  justify-content: space-between;
}

.info-image-cont {
  height: 314px;
  width: 30%;
  background-color: rgb(221, 218, 218);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 8px;
  padding: 1%;
}

.form-cont {
  width: 65%;
  .input-container {
    .MuiInputBase-input {
      font: inherit;
      color: currentColor;
      width: 100%;
      border: 0;
      height: 1.1876em;
      margin: 0;
      display: block;
      padding: 12px 12px;
      min-width: 0;
      background: none;
      box-sizing: content-box;
      animation-name: mui-auto-fill-cancel;
      letter-spacing: inherit;
      animation-duration: 10ms;
      -webkit-tap-highlight-color: transparent;
    }
  }
}
.form-control-l {
  .input-container {
    width: 32%;
    height: 54px;
    position: relative;
    border: 1px solid #a0afbf;
    padding: 0 17px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
      .MuiInputBase-input {
        font: inherit;
        color: currentColor;
        width: 100%;
        border: 0;
        height: 1.1876em;
        margin: 0;
        display: block;
        padding: 12px 12px;
        min-width: 0;
        background: none;
        box-sizing: content-box;
        animation-name: mui-auto-fill-cancel;
        letter-spacing: inherit;
        animation-duration: 10ms;
        -webkit-tap-highlight-color: transparent;
    }
  }
}

.form-control-d {
  .input-container {
    width: 48%;
    height: 54px;
    position: relative;
    border: 1px solid #a0afbf;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
      .MuiInputBase-input {
        font: inherit;
        color: currentColor;
        width: 100%;
        border: 0;
        height: 1.1876em;
        margin: 0;
        display: block;
        padding: 12px 12px;
        min-width: 0;
        background: none;
        box-sizing: content-box;
        animation-name: mui-auto-fill-cancel;
        letter-spacing: inherit;
        animation-duration: 10ms;
        -webkit-tap-highlight-color: transparent;
    }
  }
}

.text-area-project {
  width: 49%;
  height: 367px;
}

.project-desc {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #252117;
}

.p-text-area {
  background: #FFFFFF;
  height: 367px;
}

.text-area-tag {
  background: #FFFFFF;
  height: 367px;
  border: 1px solid #A0AFBF;
  box-sizing: border-box;
  border-radius: 8px;
}

.next-project {
  background: #E4AA24;
  border-radius: 20px;
  width: 6%;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.location-count-cont {
  height: 86px;
  width: auto;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 12px;
}

.location-no {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.location-title-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #A0AFBF;
}

.p-location {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #252117;
}

.b-location {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #252117;
}

.location-sec-2 {
  align-items: center;
}

.previous-project {
  background: #FFFFFF;
  border: 1px solid #EDF2F7;
  box-sizing: border-box;
  border-radius: 20px;
  height: 38px;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #252117;
}

.divider-more {
  width: 98%
}

.add-more-icon {
  width: 2%;
}
.add-more-icon-s4 {
  width: 4%;
}

.add-more-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #252117;
}

.rmIcon {
  display: flex;
  margin-left: 99%;
}

.title-milestone {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #989898;
}

.milestone-cont {
  width: 100%;
  // height: 278px;
  background: #FFFFFF;
  border-radius: 8px;
}

.m-edit-btn {
  background: #FFFFFF;
  border: 1px solid #EDF2F7;
  border-radius: 4px;
  width: 4%;
  display: flex;
  justify-content: center;
}

.m-edit-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12.8px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #E4AA24;
}

.m-description {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #252117;
}

.m-status-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #02903C;
}

.m-status-tit {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  color: #A0AFBF;
}

.m-date-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #252117;
}

.m-date-tit {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  color: #A0AFBF;
}

.m-status-date {
  width: 100%;
}

.m-status-date-deet {
  width: auto;
}

.MuiInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: none !important; 
  pointer-events: none;
}

.s4-cont {
  width: 100%;
}

.s4-sec1 {
  width: 47%;
}

.theory-cont {
  
}