.projects-container {
  .navigation1 {
    height: 64px;
    background-color: #ffffff;
    padding: 0 30px;
    .nav-text {
      font-weight: 500;
      font-size: 16px;
      font-style: normal;
    }
  }
  .content {
    padding: 2%;
  }
}

.invite {
  width: 45%;
  height: 54%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #989898;
  border-radius: 4px;
  cursor: pointer;
}

.invite-s {
  width: 45%;
  height: 54%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #edf2f7;
  border-radius: 4px;
  cursor: pointer;
}

.invite-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.invite-text-s {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
}

.project-sec-header {
  @apply mt-4 items-center;
}

.circular-progress {
  @apply w-16 sm:w-12 h-8 sm:h-12 rounded-full bg-white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress-track {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #252117;
}

.project-sec-title {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #252117;
}

.project-sec {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #c8c8c8;
}

.info-cont {
  justify-content: space-between;
}

.info-image-cont {
  @apply w-full sm:w-4/12;
  height: 314px;
  background-color: rgb(221, 218, 218);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 8px;
  padding: 1%;
}

.form-cont {
  @apply w-full sm:w-3/5 mt-5 sm:mt-0;
  .input-container {
    .MuiInputBase-input {
      font: inherit;
      color: currentColor;
      border: 0;
      height: 1.1876em;
      margin: 0;
      display: block;
      padding: 12px 12px;
      min-width: 0;
      background: none;
      box-sizing: content-box;
      animation-name: mui-auto-fill-cancel;
      letter-spacing: inherit;
      animation-duration: 10ms;
      -webkit-tap-highlight-color: transparent;
    }
  }
}
.form-control-l {
  .input-container {
    @apply w-full sm:w-1/3;
    height: 54px;
    position: relative;
    border: 1px solid #a0afbf;
    padding: 0 17px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    .MuiInputBase-input {
      font: inherit;
      color: currentColor;
      border: 0;
      height: 1.1876em;
      margin: 0;
      display: block;
      padding: 12px 12px;
      min-width: 0;
      background: none;
      box-sizing: content-box;
      animation-name: mui-auto-fill-cancel;
      letter-spacing: inherit;
      animation-duration: 10ms;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

.form-control-d {
  .input-container {
    width: 48%;
    height: 54px;
    position: relative;
    border: 1px solid #a0afbf;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    .MuiInputBase-input {
      font: inherit;
      color: currentColor;
      border: 0;
      height: 1.1876em;
      margin: 0;
      display: block;
      padding: 12px 12px;
      min-width: 0;
      background: none;
      box-sizing: content-box;
      animation-name: mui-auto-fill-cancel;
      letter-spacing: inherit;
      animation-duration: 10ms;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

.text-area-project {
  @apply w-full sm:w-49 mt-12 sm:mt-0;
  height: 367px;
}

.project-desc {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #252117;
}

.p-text-area {
  background: #ffffff;
  height: 367px;
}

.text-area-tag {
  background: #ffffff;
  height: 367px;
  border: 1px solid #a0afbf;
  box-sizing: border-box;
  border-radius: 8px;
}

.next-project {
  @apply px-4;
  background: #e4aa24;
  border-radius: 20px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.location-count-cont {
  background: #ffffff;
  border-radius: 8px;
  padding: 12px;
}

.location-no {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.location-title-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a0afbf;
}

.p-location {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #252117;
}

.b-location {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #252117;
}

.location-sec-2 {
  align-items: center;
}

.previous-project {
  @apply px-4;
  background: #ffffff;
  border: 1px solid #edf2f7;
  box-sizing: border-box;
  border-radius: 20px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #252117;
}

.divider-more {
  width: 98%;
}

.add-more-icon {
  @apply w-8;
}
.add-more-icon-s4 {
  @apply w-8;
}

.add-more-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #252117;
}

.rmIcon {
  @apply flex justify-end mb-2;
}

.title-milestone {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #989898;
}

.milestone-cont {
  // height: 278px;
  background: #ffffff;
  border-radius: 8px;
}

.m-edit-btn {
  background: #ffffff;
  border: 1px solid #edf2f7;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.m-edit-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12.8px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #e4aa24;
}

.m-description {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #252117;
}

.m-status-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #02903c;
}

.m-status-tit {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  color: #a0afbf;
}

.m-date-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #252117;
}

.m-date-tit {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  color: #a0afbf;
}

// .m-status-date {
// }

.m-status-date-deet {
  @apply sm:w-10/12 lg:w-7/12;
}

.MuiInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: none !important;
  pointer-events: none;
}

// .s4-cont {
// }

.s4-sec1 {
  @apply w-full sm:w-5/12;
}

.p-tag-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #252117;
}
