.theory-cont {
  @apply overflow-x-auto;
}

.sidebar-theory {
  @apply flex-shrink-0 w-6/12 sm:w-3/12;
  border-right: 2px solid #dcdcdc;
  background: #ebebeb;
  border-radius: 8px 0px 0px 0px;
}

.theory-title-cont {
  // @apply;
  height: 72px;
  display: flex;
  align-items: center;
  background: #ffffff;
}

.theory-title {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #252117;
}

.theory-side-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #989898;
}

.main-theory {
  @apply w-full flex-shrink-0 sm:w-9/12;
  background: #ebebeb;
  border-radius: 0px 8px 0px 0px;
}

.accordion-text {
  @apply text-sm sm:text-base w-8/12;
}

.acc-subpoint {
  @apply text-xs font-semibold sm:text-sm;
}

// .main-theory-header {
// }

.theory-title-2 {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #252117;
}

.main-theory-header1 {
  display: flex;
  align-items: center;
}

.main-theory-header2 {
  display: flex;
  align-items: center;
}

.point-btn {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #a0afbf;
  box-sizing: border-box;
  border-radius: 4px;
}

.point-btn-text {
  @apply text-sm sm:text-base;
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
