.settings-notifications {
  background-color: #ebebeb;
  min-height: 100vh;
  .navigation {
    height: 64px;
    background-color: #fff;
    padding: 0 79px;
    margin-bottom: 52px;
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #252117;
    }
  }
  .content {
    padding: 0 79px;
  }
}
