<div className="flex flex-wrap">
    <div className="w-full">
      <ul>
        <li className=" ">
          <a
            className={
              "text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal " +
              (openTab === 1
                ? "text-white bg-" + color + "-600"
                : "text-" + color + "-600 bg-white")
            }
            onClick={e => {
              e.preventDefault();
              setOpenTab(1);
            }}
            data-toggle="tab"
            href="#link1"
            role="tablist"
          >
            <i className="fas fa-space-shuttle text-base mr-1"></i> Profile
          </a>
        </li>
        <li className=" ">
          <a
            className={
              "text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal " +
              (openTab === 2
                ? "text-white bg-" + color + "-600"
                : "text-" + color + "-600 bg-white")
            }
            onClick={e => {
              e.preventDefault();
              setOpenTab(2);
            }}
            data-toggle="tab"
            href="#link2"
            role="tablist"
          >
            <i className="fas fa-cog text-base mr-1"></i>  Settings
          </a>
        </li>
        <li className="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a
            className={
              "text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal " +
              (openTab === 3
                ? "text-white bg-" + color + "-600"
                : "text-" + color + "-600 bg-white")
            }
            onClick={e => {
              e.preventDefault();
              setOpenTab(3);
            }}
            data-toggle="tab"
            href="#link3"
            role="tablist"
          >
            <i className="fas fa-briefcase text-base mr-1"></i>  Options
          </a>
        </li>
      </ul>
      </div>
    </div>
  </div>




<div class="tab">
    <button class="tablink1" >Post</button>
    <button class="tablink2" >Media</button>
    <button class="tablink3" >Eyemarked</button>
    <button class="tablink4" >Followers</button>
    <button class="tablink5" >Following</button>
    </div>
    <div class="empty-box">
    <div class="section5">
        <img src="./lady2.svg">
        <div class="adedolapo">
          Adedolapo Ayitade<span class="p">is excited</span>
        </div>
        <p class="h">12 hours ago</p>
    </div>

    <div class="section6">
        <h6 class="strong">strongly satisfactory</h6>
        <p class="sgs">SGS INTRON assists our clients with any questions on the performance and <br/>durability of road materials and products. To this end we offer a wide array of <br/>services including testing, research and assessment...</p>
    </div>
    <div class="section7">
        <img src="./images/truck.svg">
        <img src="./images/truck2.svg">
        <img src="./images/worker1.svg">
        <img src="./images/worker3.svg">
    </div>
    <div class="nav4">
        <div class="section9">
        <img src="./images/logo3.svg">
        </div>
    
        <div class="name">
            <h2 class="berger"> Julius Berger Nigeria PLC</h2>
        <p class="hour">16 hours ago</p>
        </div>
    
        <div class="circle2">
          <p class="c">contractor</p>
          <img src="./images/cons.svg">
        </div>

        <div class="10">
          <h4 class="p">Construction Progress Report</h4>
          <p class="tran">Transport and mobility are a key part of today’s society. Roads must be durable<br/> and safe otherwise they present a danger to their users and the environment, as<br/> well as increasing repair costs.</p>
        </div>
    </div>
    
    <div class="section11">
        <p class="view">View project</p>
    </div>

    <div class="section12">
        <img src="./images/like.svg">
    </div>
</div>