.feedNav {
    background-color:#EDF2F7;  
}

.feednavWrapper {
    padding: 20px;
    height: 63px;
    background-color: #fff;
}

.feednavWrapper ul{
    display: flex;
    justify-content: space-between; 
    align-content: center;
    margin-top: 10px;
}

.active {
    position: relative;
    color: #252117 !important;
}

.active::after {
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #E4AA24;
    border-radius: 10px 10px 0px 0px;
}

.nav-Link {
    color: #A0AFBF;
    font-size: 14px;
}

.relative {
    padding: 80px;
}

.feed-space {
    justify-content: center;
}