
.feednavWrapper {
    padding: 40px 30px;
    height: 96px;
    background-color: #fff;
}

.divider {
    border-bottom: 0.5px solid #A0AFBF;
    padding: 0px 2%;
    margin-top: 22px;
}

.feednavWrapper ul{
    display: flex;
    justify-content: space-between; 
    align-content: center;
    margin-top: 10px;
}

.active {
    position: relative;
    color: #252117 !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.active::after {
    content: '';
    position: absolute;
    bottom: -1.6rem;
    left: 0;
    width: 135%;
    height: 6px;
    background-color: #E4AA24;
    border-radius: 10px 10px 0px 0px;
}

.nav-Link {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #A0AFBF;
}

.relative-feed {
    padding: 80px 180px;
}

.feed-space {
    justify-content: center;
}