.home-container {
  .navigation {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 23px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom: 0.5px solid #a0afbf;
    margin-bottom: 50px;
  }
  .content {
    width: 100%;
  }
}
