.card-record {
  @apply w-full sm:w-32.4 mt-3 sm:mt-0;
  height: 156px;
  background: #fefffe;
  border-radius: 8px;
}

.card-record-deet {
  @apply w-full sm:w-36 mt-3 sm:mt-0;
  height: 483px;
  background: #fefffe;
  border-radius: 8px;
}
.card-record-deet-2-cont {
  @apply w-full sm:w-1/4 mt-3 sm:mt-0;
  height: 483px;
}

.card-record-deet-2-top {
  background: #fefffe;
  border-radius: 8px;
  height: 156px;
}

.card-deets-date {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #a0afbf;
}

.quick-create {
  margin: auto;
  padding-top: 20px;
  align-items: center;
  width: 80%;
  justify-content: center;
  height: 95px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #edf2f7;
}

.create-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  padding-top: 14px;
  line-height: 10px;
  text-transform: capitalize;
  color: #252117;
}

.card-record-deet-2 {
  background: #fefffe;
  border-radius: 8px;
  height: 307px;
}

.card-deets-text {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #252117;
}

.card-deets-text-status {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #e4aa24;
}

.see-all {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: "bold";
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #a0afbf;
}

.big-card {
  height: 483px;
  background: #fefffe;
  border-radius: 8px;
}

.mda-welcome {
  color: #252117;
  font-size: 16px;
  font-weight: bold;
}

.date {
  width: 154px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-text {
  font-size: 14px;
  color: #252117;
}

.cr-projects {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #252117;
}

.cr-projects-graph {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bolder;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #252117;
}

.project-numb {
  .num-big {
    font-family: Filson Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25.6px;
    line-height: 35px;
    color: #252117;
  }
  .num-text {
    font-family: Filson Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #a0afbf;
  }
}

.num-big-2 {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #252117;
}

.num-big-3 {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 25.6px;
  line-height: 35px;
  color: #000000;
}

.text-survey {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #a0afbf;
}

.num-big-gray {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #edf2f7;
}

.text-ongoing {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #226af5;
}

.text-completed {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #02903c;
}

.text-abandoned {
  font-family: Filson Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #c8c8c8;
}

.cr-divide {
  background-color: #edf2f7;
}
