.screen3-categories {
  .cat {
    min-height: 232px;
    background-color: white;
    border-radius: 8px;
    padding: 17px 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content {
    padding: 20px 0px;
    margin-top: 35px;
  }
}
