
@font-face {
  font-family: 'Filson Pro' !important;
  src: url('../../assets/fonts/FilsonPro-Thin/FilsonPro-Thin.ttf') format('truetype')
  url('../../assets/fonts/FilsonPro-Thin/FilsonPro-Thin.woff') format('woff')
  url('../../assets/fonts/FilsonPro-Thin/FilsonPro-Thin.woff2') format('woff') !important;
  font-style: normal;
}

body, html {
  font-family: 'Filson Pro' !important;
}

p, input, textarea, select, button, a {
  font-family: 'Filson Pro' !important;
}

.onboarding-container {
  width: 100%;
  height: 100vh;
  background-color: #edf2f7;
}

.card {
  width: 607px;
  height: 644px;
  box-shadow: -5px -5px 25px rgba(113, 129, 149, 0.2), 5px 5px 20px rgba(61, 132, 172, 0.2);
  border-radius: 8px;
  background-color: #fff;
  .footer {
    background-color: #252117;
  }
}

.placeholder {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
