.onboarding-container {
  width: 100%;
  height: 100vh;
  background-color: #edf2f7;
  @media only screen and (max-width: 750px) {
    padding: 0 20px;
  }
}

.card {
  width: 607px;
  height: 644px;
  box-shadow: -5px -5px 25px rgba(113, 129, 149, 0.2), 5px 5px 20px rgba(61, 132, 172, 0.2);
  border-radius: 8px;
  background-color: #fff;
  .footer {
    background-color: #252117;
  }
  .subtitle {
    @media only screen and (max-width: 750px) {
      width: 100%;
    }
  }
}

.placeholder {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
